{% extends "mainapp/base_template.html" %}

{% load crispy_forms_tags %}

{% block body %}
<div class="w-25 container-sm justify-content-center pt-5">
    <!-- Sign up form -->
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom pb-2 text-center">Вхід у систему</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="text-center">
        <button class="btn btn-outline-info" type="submit">Увійти</button>
      </div>
    </form>
</div>
{% endblock body %}